.alarm_block{
  width: 100%;
padding: 16px;
display: flex;
justify-content: center;
border-radius: 10px;
  background-color:rgba(242, 136, 61, 0.1) ;
  color:rgb(242, 136, 61) ;
  font-size: 14px;
  font-weight: 400;
align-self: center;
}
.stop {
 background-image: url(./Vector.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
}
.green{
   background-color:rgba(29, 235, 42, 0.1) ;
   color:rgb(7, 138, 48) ;


}
 .withoutStop{
   background-image:none;
   background-size: 0;
       width: 0;
 }